@import "vars"


/*==========  Desktop First  ==========*/

+media-breakpoint-down(xl)
+media-breakpoint-down(lg)
+media-breakpoint-down(md)
+media-breakpoint-down(sm)
	.main-header
		flex-direction: column
		justify-content: center
		padding: 10px 0
		.logo
			order: 1
			img
				width: 120px
		.contacts
			order: 2
			padding: 20px 0
			.contact-item
				display: inline-block
		.social
			order: 3
	.main-menu
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		z-index: 100
		padding: 0
		.menu
			display: none
			background-color: rgba(#000, .2)
			padding: 15px 0
			width: 90%
			margin: 0 auto
			.menu-item
				display: block
				text-align: center
				margin: 0
				border: none
				&:hover, &:focus, &:active
					.menu-link
						color: $accent
		#nav-icon
			display: block
			margin-bottom: 20px
	.slider-item-block
			display: none
+media-breakpoint-down(xs)
	.contacts
		display: flex
		flex-direction: column
		font-size: 14px
	.social
		display: none

/*==========  Mobile First  ==========*/

+media-breakpoint-up(xs)
+media-breakpoint-up(sm)
+media-breakpoint-up(md)
+media-breakpoint-up(lg)
+media-breakpoint-up(xl)
